body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: #000;
  color: #fff;
  padding: 20px;
}

h1 {
  font-size: 2em;
}

p {
  font-size: 1.5em;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.main {
  background-color: #fff;
  padding: 20px;
}

h2 {
  font-size: 1.75em;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
}